@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Sail&display=swap');

.hero{
  color: white;
  margin-top: 20px;
  margin-left: 50px;
    font-family: "Arbutus Slab", serif;
    font-style: normal;
.img{
  margin-left: 75px;
}
}

.left{
  margin-left:100px;
  margin-top:60px;
  h1{
  color:#003057;
  letter-spacing: 10px;
  font-size:50px;
}
h3{
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 5px;
}
}

.button{
  margin-top: 30px;
  cursor: pointer;
}

 
.section1{
  display:flex;
}
.right{
  margin-left: 100px;
  margin-top: -100px;
}


/* SECTION2 */
.section2 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin-top: 50px; 
  text-align: center;
  padding: 50px; 
}
.h2{
  font-family: "Arbutus Slab", serif;
  letter-spacing: 30px;  
}
.image{
  margin-top:30px;
}
.sub-sec {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.p{
  margin-top:50px;
  font-family: poppins;
  color:#008CFD;
  text-decoration: underline;
  cursor: pointer;
}

/* SECTION 3 */
.section3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin-top: 50px; 
  text-align: center;
  padding: 50px; 
}
.sub-sec {
  display: flex;
  flex-direction: column;
  align-items: center; 
  h3{
    font-family: "Arbutus Slab", serif;
    letter-spacing: 20px; 
    font-size: 25px;
    font-weight: 100;
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 50px; 
  justify-content: center; 
  align-items: center; 
  text-align: left; 
  max-width: 1000px; 
  padding: 10px; 
 
}
.items {
  padding: 10px;
   h5{
    font-size:20px;
  }
  p{
    margin-top: -20px;
  }
}

/* SECTION 4 */
/* .section4 { */
  /* background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin-top: 50px; 
  text-align: center;
  padding: 50px; 
} */

.copy{
  margin-bottom: -100px;
}
