@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Sail&display=swap');

.App{
  color: white;
  font-family: poppins;
  margin-top: 20px;
  margin-left: 50px;
    font-family: "Arbutus Slab", serif;
    /* font-weight: 400; */
    font-style: normal;
}
.left{
  margin-left:20px;
  margin-top:30px;
  h1{
  color:#003057;
  letter-spacing: 10px;
  font-size:50px;
}
h3{
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 5px;
}

button{
  background-color: black;
  color:white;
  padding:20px;
  border-radius:20px;
  border: 2px solid black;
}}
.button{
  margin-top:20px;
}
.button2{
    margin-left:20px;
  }
.section1{
  display:flex;
}
.right{
  margin-left: 200px;
  margin-top: -100px;
}